.clearfix::before, .clearfix::after{
    content: "";
    display: block;
    clear:both;
}

html{
    height:100%;
}
body{
    height:100%;
    background-color:black;
    color:white;
    display:flex;
    /* justify-content: center; */
    /* align-items: center; */
}

#wrap{
    width:10%;
    min-width: 250px;
    margin:auto;
    text-align: center;
}

@keyframes breath{
    0% {
        opacity: 0.3;
    }
    100%{
        text-shadow: 0 0 20px white;
    }
}
#welcome{
    color:white;
    display: inline-block;
    width:100%;
    text-align: center;
    font-size: 32px;
    animation: breath 1500ms infinite alternate;
    transition:100ms;
    position: relative;
}
#welcome:hover{
    cursor: pointer;
    animation: none;
    transform: scale(1.05);
    transition:100ms;
}

.content{
    margin-top:30px;
    min-width: 250px;
}

p{
    margin:10px;
    text-shadow: 0.5px 0.5px 1px white;
    letter-spacing: 5px;
    display: none;
}